.home-wrapper {
  display: flex;
  flex-direction: row;
}

.section {
  width: 60%;
  height: 100%;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section h1 {
  font-size: 2rem;
  font-family: "Dancing Script", cursive;
}

.section .highlight {
  font-size: 3.5rem;
  font-weight: 700;
  margin: 10px 0;
}
.section .description {
  font-size: 1.2rem;
}

.btn-group {
  margin-top: 20px;
  position: relative;
}

.btn-group button {
  position: relative;
  margin-right: 30px;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
}

.btn-order {
  background-color: red;
}

.btn-order::after {
  position: absolute;
  content: "";
  top: 0;
  left: 100px;
  font-size: 1rem;
  padding: 19px 20px;
  background-color: red;
  transform: skewX(-20deg);
  z-index: -1;
  border-radius: 5px;
}

.btn-dine {
  background-color: rgb(2, 141, 206);
}

.btn-dine::before {
  position: absolute;
  content: "";
  top: 0;
  left: -10px;
  font-size: 1rem;
  padding: 19px 20px;
  background-color: rgb(2, 141, 206);
  transform: skewX(-20deg);
  z-index: -1;
  border-radius: 5px;
}

.home-image {
  width: 40%;
  height: 400px;
  position: relative;
  top: 25%;
}

@media (max-width: 930px) {
  .section .highlight {
    font-size: 2.8rem;
  }

  .home-image {
    height: 320px;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 20px 30px;
  }
  .section h1 {
    font-size: 1.6rem;
  }
  .section .highlight {
    font-size: 2rem;
  }
  .home-image {
    height: 280px;
  }
}
@media screen and (max-width: 420px) {
  .home-wrapper {
    flex-direction: column-reverse;
  }
  .section {
    width: initial;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
  }
  .section h1 {
    font-size: 1.8rem;
  }
  .section .highlight {
    font-size: 2rem;
  }
  .section .description {
    font-size: 1rem;
    padding: 0 10px;
    word-break: break-word;
  }
  .home-image {
    width: 100%;
    top: 0;
  }
}
