@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Poppins:wght@200;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  box-sizing: border-box;
  font-family: "Poppins", "Helvetica", sans-serif;
}

#content {
  display: flex;
  flex-direction: row;
  /* margin: 10px 150px; */
  height: 75vh;
  transition: opacity 0.3s ease-in-out;
}
