#navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
  background-color: #fff;
}

#navbar .home-title {
  font-size: 1.2rem;
}
#navbar .nav-items {
  font-size: 1.1rem;
  cursor: pointer;
  padding-right: 80px;
}

.nav-item {
  font-size: 1.1rem;
  margin-right: 25px;
}
